# This is Git's per-user configuration file.

[init]
	defaultBranch = main

[user]
	name = daryn
	email = me@daryn.dev

[core]
    editor = codium --wait

[alias]
	graph = log --oneline --decorate --graph --all
	
[commit]
    template = ~/.gitmessage
